.signed-container {
  padding: 2rem 10rem;

  @media only screen and (max-width: 1000px) {
    padding: 2rem 6rem;
  }

  @media only screen and (max-width: 800px) {
    padding: 2rem 4rem;
  }

  @media only screen and (max-width: 600px) {
    padding: 1.5rem;
  }
}