.stepper {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  padding: 0;
  width: calc(100% - 20px);
  list-style: none;
  position: relative;
  color: #BBBBC3 !important;
  margin-left: 20px;

  &::before {
    position: absolute;
    top: 0;
    left: -19px;
    height: 100%;
    content: "";
    width: calc(100% + 19px);
    background-color: #BBBBC3;
  }



  @media only screen and (max-width: 800px) {
    display: flex;
    flex-direction: column;

    &::before {
      background-color: transparent !important;
    }
  }
}

.stepper__item {
  flex: 1;
  padding: 20px 20px 20px 40px;
  margin: 0 0 0 -19px;
  -webkit-clip-path: polygon(20px 50%, 0% 0%, calc(100% - 20px) 0%, 100% 50%, calc(100% - 20px) 100%, 0% 100%);
  background-color: #fff !important;
  color: #BBBBC3 !important;
  cursor: pointer;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;

  &.current {
    background: #c300c4 !important;
    color: #fff !important;
  }
  
  &.complete {
    background: #d884d8 !important;
    color: #fff !important;
    cursor: default;
  }
  
  &:first-child {
    padding: 20px;
    -webkit-clip-path: polygon(0% 0%, calc(100% - 20px) 0%, 100% 50%, calc(100% - 20px) 100%, 0% 100%);
  }
  
  &:last-child {
    -webkit-clip-path: polygon(20px 50%, 0% 0%, 100% 0%, 100% 100%, 0% 100%);
    padding-right: 0;
  }

  .title {
    font-size: 18px;
    font-weight: bold;
  }

  .description {
    font-size: 15px;
  }

  @media only screen and (max-width: 800px) {
    -webkit-clip-path: polygon(0% 0%, calc(100% - 20px) 0%, 100% 0%, 100% 100%, 0% 100%) !important;
    margin-bottom: 4px;

    &:first-child {
      padding: 20px 20px 20px 40px;
    }
  }
}