$container-width: 400px;
$icon-size: 100px;
$container-width-md: 75vw;

.container-ticket {
  position: relative;
  height: 100px;
  width: $container-width;

  @media only screen and (max-width: 767px) {
    width: $container-width-md;
  }
}

.text-container {
  position: absolute;
  height: 60px;
  top: 50%;
  background-color: #bc0bbd;
  width: calc($container-width - $icon-size + 10px);
  transform: translate(0, -50%);
  padding: 10px;
  border-radius: 6px 0 0 6px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @media only screen and (max-width: 767px) {
    width: calc($container-width-md - $icon-size + 10px);

    flex: 1;

    h4 {
      font-size: 16px !important;
      margin: auto 0;
    }
  }

  @media only screen and (max-width: 767px) {
    width: calc($container-width-md - $icon-size + 10px);

    flex: 1;

    h4 {
      font-size: 16px !important;
      margin: auto 0;
    }
  }
}

.icon-container {
  position: absolute;
  right: 0;
  background-color: #bc0bbd;
  border-radius: 50%;
  height: $icon-size;
  width: $icon-size;
  z-index: 1;
  
  display: flex;
  align-items: center;
  justify-content: center;
  .circle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 3px solid #fff;
    width: 85%;
    height: 85%;
  }

  @media only screen and (max-width: 767px) {
    height: $icon-size;
    width: $icon-size;
  }
}
