.block {
  bottom: 0;
  left: 8px;
  margin: 0 0 0.5rem 0;
  font-weight: bold;
  position: fixed;
  padding: 1rem;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.15);
  cursor: pointer;
  z-index: 10;
  transition: all 200ms;

  &:hover {
    background: rgba(0, 0, 0, 0.25);
  }
}

.options {
  display: flex;
  position: absolute;
  left: 105%;
  top: 0;
  padding: 0.25rem;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.15);
  z-index: 20;

  p {
    padding: 0.75rem;
    border-radius: 5px;
    transition: all 200ms;
    margin-bottom: 0;
    
    &:hover {
      background: #c300c4;
    }
  }
}