

.col-container {
  padding: 0;
  display: flex;

  &:nth-child(1) {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #7626ac8a;

    &::-webkit-scrollbar-track {
      background-color: #fff;
    }

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background-color: #ccc;
    }
  }

  &:nth-child(2) {
    flex: 1;
  }
}

.content-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  white-space: pre-line;
  min-width: 320px;
  padding-bottom: 16px;

  span {
    color: #666666;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    transition: all 200ms;
    margin-bottom: 10px;
    cursor: pointer;

    &:hover {
      filter: brightness(0.5);
    }
  }

  button {
    width: 100%;
    margin: 30px 0 20px 0;
  }
}

.logo {
  margin-bottom: .5rem;
  margin-top: 2rem;
  width: 210px;
}

.powered-by {
  margin-top: 50px;
  margin-bottom: 2rem;
}