header {
  align-items: center;
  column-gap: 20px;
}

.overflow-container {
  max-width: 100%;
  overflow: auto;
}

table, th, td, tr {
  border: 2px solid #c300c4 !important;
  border-collapse: collapse;
  text-align: center;
}

td {
  padding: 15px;
}

th {
  padding: 25px 15px;
}

.img-container {
  max-width: 100%;
}