$primary: #fff;
$body-color: #fff;
$secondary: #c300c4;;
$info: #BBBBC3;
$border-radius: 0;

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(
    circle at top right,
    #520052 0%,
    #000 15%
  ) no-repeat;
  min-height: 100vh;
}

@import '~bootstrap/scss/bootstrap.scss';